{% extends 'base_main.html' %}
{% block content %}
    <center>
        <div>
            <img class="admin_img" src="https://img.freepik.com/free-vector/beautiful-young-female-doctor-crossed-arms-cartoon-illustration_56104-483.jpg?semt=ais_hybrid&w=740&q=80">
        </div>
        <h2>Doctor Login Form</h2>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <label class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required>

                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>

                <button type="submit" class="btn-login">Login</button>
            </form>
        </div>
    </center>
{% endblock content %}