{% extends 'main.html' %}

{% block content %}

<center>
<h2 class="patient-header">Add Patient Form</h2>
<div class="add-patient-form">
<form action="" method="POST">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="name-label form-label">First Name:</label>
    <input type="text" class="name-input form-control" name="name">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="age-label form-label">AGE:</label>
    <input type="text" name="age"  class="age-input form-control" >
  </div>
  <div class="mb-3">
    <label class="gender-label">Gender</label>
        <select class="gender-choice" name="gender">
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="others">Others</option>
        </select>
  </div>
  <div class="mb-3">
    <label class="form-label contact-label">Contact Number:</label>
    <input type="text" class="form-control contact-input" name="phone">
  </div>
  <div class="mb-3">
    <label class="form-label address-label">Address:</label>
    <input type="textarea" class="form-control address-input " name="address">
  </div>
  <div class="mb-3">
    <label class="doctor-label">Doctor</label>
        <select class="doctor-choice" name="doctor">
            {% for i in doctors %}
                <option value="{{ i.id }}">{{i.first_name}}</option>
            {% endfor %}
        </select>
  </div>
  <button type="submit" class="add-patient-btn btn btn-primary">Submit</button>
</form>
</div>
</center>
{% endblock content %}