{% extends 'main.html' %}

{% block content %}

<center>
<h2 class="admin-heading">Welcome {{request.user}}</h2></center>
<div class="admin-dashboard-container">
  <div class="admin-card">
    <h2 class="admin-patient-count">{{ patient_count }}</h2>
    <p class="admin-patient-name">Patients</p>
    <a class="patient-button btn btn-primary" href="{% url 'admin_view_patient' %}">View Patient</a>
  </div>

  <div class="admin-card">
    <h2 class="admin-doctor-count">{{ doctor_count }}</h2>
    <p class="admin-doctor-name">Doctors</p>
    <a class="doctor_btn btn-primary" href="{% url 'doctor_list' %}">View Doctors</a>
  </div>

  <div class="admin-card">
    <h2 class="appointment-count">{{ appointment_count }}</h2>
    <p class="admin-appointment-name">Appointments</p>
    <a class="appointment-btn btn btn-primary" href="{% url 'admin_view_appointment' %}">View Appointment</a>
  </div>
</div>
{% endblock content %}
