{% extends 'main.html' %}

{% block content %}
<center>
    <div class="container-fluid mt-3">
        <form class="d-flex" action="" method="GET">
          <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
  </center>
  <div class="container-fluid mt-5">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
    </tr>
  </thead>
  <tbody>
    {% for i in list %}
    <tr>
      <td>{{i.id}}</td>
      <td>{{i.first_name}}</td>
      <td>{{i.last_name}}</td>
      <td>{{i.email}}</td>
      <td>{{i.username}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}