{% extends 'main.html' %}

{% block content %}
<center>
    <h2 class="update-appointment-header">UPDATE APPOINTMENT FORM</h2>
<form action="" method="POST">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="update-appointment-label form-label">Patient Name:</label>
    <label class='update-appointment-label'>Patient</label>
        <select class="update-appointment-choice" name="patient">
        {% for p in patients %}
            <option value="{{ p.id }}" 
            {% if p.id == u.patient.id %}selected{% endif %}>
            {{ p.name }}
            </option>
        {% endfor %}
        </select>
  </div>
  <div class="mb-3">
    <label class="update-appointment-doc-label">Doctor</label>
    <select class="update-appointment-doc-choice" name="doctor">
    {% for d in doctors %}
        <option value="{{ d.id }}" {% if d.id == u.doctor.id %}selected{% endif %}>
        {{ d.first_name }} {{ d.last_name }}
        </option>
    {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="update-appointment-date-label form-label">Date:</label>
    <input type="text" name="date"  class="form-control"  value="{{ u.date|date:'Y-m-d' }}">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="update-appointment-time-label form-label">Time:</label>
    <input type="text" name="time"  class="form-control" value="{{ u.time|time:'H:i' }}">
  </div>
  <div class="mb-3">
    <label class="form-label">Reason:</label>
    <input type="textarea" class="update-appointment-reason form-control" name="reason" value="{{u.reason}}">
  </div>
  
  <button type="submit" class="update-btn btn btn-primary">Submit</button>
</form>
</center>
{% endblock content %}